/* Import Fonts */
@import url('https://fonts.googleapis.com/css2?family=Zen+Loop:ital@0;1&display=swap');

@font-face { 
    font-family: 'GodThunder';
    src: url(Resources\Fonts\Godofthunder-0WO1P.ttf) format('truetype'); 
}

/* General Rules */

html { 
    font-size: 16px;
}
body { 
    font-family: 'Zen Loop', cursive;
    font-size: 1.5rem;
    background-image: linear-gradient(
        45deg,
        hsl(32deg 48% 52%) 0%,
        hsl(29deg 56% 45%) 12%,
        hsl(27deg 71% 38%) 20%,
        hsl(24deg 92% 31%) 26%,
        hsl(30deg 88% 39%) 32%,
        hsl(36deg 83% 47%) 37%,
        hsl(41deg 95% 55%) 42%,
        hsl(42deg 85% 56%) 48%,
        hsl(43deg 75% 57%) 55%,
        hsl(44deg 66% 57%) 62%,
        hsl(37deg 63% 48%) 72%,
        hsl(31deg 77% 39%) 84%,
        hsl(24deg 92% 31%) 100%
    );
}

:root { 
    --background-color: #bf8849;
    --txt-color: #984006;
    --second-color: #f9b622;
    --other-color: #dab448;
}

/* Header */

header { 
    width: 100%;
    height: 10rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

header img { 
    height: 10rem;
    margin-top: -2rem;
}

/* Menu Section */

#menu { 
    height: 3rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

#menu ul { 
    display: flex;
    margin-top: -5rem;
}

#menu li { 
    padding: 2rem;
    font-weight: bold;
}

#menu a { 
    color: black;
}

#mobile-menu{
    display: none;
}

@media only screen and (max-width: 800px){ 
    #menu { 
        display: none;
    }

    #mobile-menu{ 
        height: 5rem;
        display: inline-flex;
        width: 100%;
        justify-content: center;
        position: relative;
        top: -2rem;
    }

    #mobile-menu ul { 
        display: flex;
        width: 80%;
        padding: 2rem;
        justify-content: space-between;
        align-items: center;
    }

    #mobile-menu img { 
        min-width: 2rem;
        max-width: 4.5rem;
    }
}

/* Home Section */

.home { 
    height: 100vh;
    background-image: url('/Resources/Media/pandora-box-bg.jpg'); /* TODO: porque nao consigo colocar do /media ? */
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 50% 80%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.home h1 { 
    font-family: 'GodThunder';
    font-size: 10rem;
    font-weight: 900;
    color: white;
    width: 100%;
    text-align: center;
}

@media only screen and (max-width: 800px){ 

    .home{ 
        background-size: contain;
        height: 95vh;
    }

    .home h1{ 
        font-size: 5rem;
        color: var(--second-color)
    }
}

/* Events Section */

.events { 
    height: 155vh;
    width: 100%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    row-gap: 1rem;
    column-gap: 1rem;
}

.event-div { 
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
}

.main-event { 
    grid-column-start: 1;
    grid-column-end: 3;
}

.event-name { 
    font-size: 4rem;
    font-weight: bolder;
    padding: 1.75rem;
    color:var(--txt-color);
}

.event-photo { 
    min-width: 320px;
    max-width: 380px;
}

.event-div p { 
    width: 60%;
    margin: 1.75rem
}

.event-button { 
    text-align: center;
    font-weight: 700;
    width: 60px;
    background-color: var(--second-color);
    padding: 12px;
    border-radius: 12px;
}

.event-desc { 
    font-weight: 500;
}

@media only screen and (max-width: 800px){
    .events { 
        height: 220vh;
        grid-template-columns: 1fr;
        grid-template-rows: 3fr;
        row-gap: 0.5rem;
        column-gap: 0.5rem;
    }

    .event-div { 
 
    }

    .main-event {
        grid-column-start: 1;
        grid-column-end: 2;
    }

    .event-photo{ 
        min-width: 4rem;
        max-width: 16rem;
    }

    .last-button{ 
        background-color: var(--txt-color)
    
    }
 }

 @media only screen and (min-width: 800px) and (max-width: 1200px){
    .events { 
        height: 200vh;
    }

    .event-name { 
        font-size: 3rem;
    }
}
/* History Section */

.history { 
    height: 100vh;
    margin: 4rem 0.5rem;
    display: flex;
}

.history h1 { 
    font-size: 4rem;
    color: var(--txt-color);
    text-align: right;
    position: relative;
    right: 10rem;
}

.history p { 
    float: right;
    width: 50%;
    text-align: right;
    position: relative;
    right: 10rem;
}

.history img { 
    position: relative;
    left: 10rem;
    top: 1rem;
    max-width: 700px;
    min-width: 300;
    max-height: 700px;
    min-height: 300px;
}

@media only screen and (max-width: 800px){
    .history { 
        flex-flow: column nowrap;
        margin: 3.5rem 0;
    }
    
    .history img { 
        display: none;
    }

    .history h1 { 
        position: relative;
        text-align: center;
        right: 0;
    }

    .history p { 
        width: 90%;
        padding: 2rem;
        text-align: center;
        right: 0;
        float: none;

    }
}

@media only screen and (min-width: 800px) and (max-width: 1200px){
    .history { 
        height: 120vh;
        flex-flow: column-reverse nowrap;
        margin: 4.5rem 0;
        justify-content: center;
    }
    
    .history img { 
        width: 60%;
        padding: 1rem;
    }
    .history h1 { 
        position: relative;
        text-align: center;
        right: 0;
    }

    .history p { 
        width: 90%;
        padding: 2rem;
        text-align: center;
        right: 0;
        float: none;

    }
}



/* Board Section */

.board { 
    display: flex;
    flex-flow: column nowrap;
}

.board-team { 
    display: flex;
    flex-direction: row wrap;
}

.board h1 { 
    font-size: 4rem;
    font-weight: bolder;
    padding: 1.75rem;
    color:var(--second-color);
    text-align: center;
}

.board-member { 
    padding: 2rem;
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
}

.board-member-photo { 
    max-width: 500px;
    min-width: 200;
    max-height: 500px;
    min-height: 200px;
    border-radius: 46%;
}

.board-member-name , .board-member-role { 
    font-size: 2.5rem;
    font-weight: bold;
    color:var(--second-color);
    margin-top: 2rem;
}

.board-member-role { 
    font-size: 2rem;
    margin-top: -.5rem;
}

@media only screen and (max-width: 800px){
    
    .board h1 { 
        color: var(--txt-color);
    }

    .board-team { 
        flex-direction: column;
    }
    
    .board-member-photo {
        max-width: 18rem;
        min-width: 13rem;
        max-height: 18rem;
        min-height: 13rem;
    }
}

@media only screen and (min-width: 800px) and (max-width: 1200px){
    .board h1 { 
        color: var(--txt-color);
        grid-column-start: 1;
        grid-column-end: 3;
    }

    .board{


    }

    .board-team { 
        display: grid;
        grid-template-columns: repeat(2,1fr);
        grid-template-rows: repeat(2,1fr)
    }
    
    .board-member-photo {
        max-width: 18rem;
        min-width: 13rem;
        max-height: 18rem;
        min-height: 13rem;
    }
}

/* Contact Section*/

.contact { 
    height: 60vh;
    padding: 3rem;
    display: flex;
    flex-direction: column;
    align-items: center;

}

.contact h1 { 
    font-size: 4rem;
    font-weight: bolder;
    padding: 1.75rem;
    color:var(--second-color);
    text-align: center;
}

form { 
    display: flex;
    flex-flow: column nowrap;
    width: 400px;
}

input { 
    margin: 1rem;
    height: 30px;
    width: 400px;
}

#message { 
    height: 120px;
}

#send { 
    width: 120px;
    margin-top: 1rem;
    height: 3rem;
    border-style: none;
    text-align: center;
    position: relative;
    left: 35%;
}

@media only screen and (max-width: 800px){
    .contact{
        height: 65vh;
    }
   
}

/* Footer Section */

footer p { 
    font-size: 2rem;
    color: var(--second-color);
    font-weight: bolder;
    text-align: center;
    padding-bottom: 2rem;
}

footer a { 
    color: var(--second-color);
}

@media only screen and (min-width: 800px) and (max-width: 1200px){
    footer p{ 
        position: relative;
        top: 1rem;
    }
}
